.cell {
	border: 1px solid black;
	padding: 10px;
	width: 10px;
	height: 10px;
	cursor: pointer;

}
.board
{
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	top: 40px;
}
.que
{
	transition: all 0.01s ease;
	background-color: gray;
}
.start
{
	background-color: blue;
}
.end
{
	background-color: red;
}
.obstacle
{
	background-color: black;
}
.visited
{
	transition: all 0.01s ease;
}
#results
{
	position: absolute;
	left: 3%;
	top: 350px;
}
table.results ,th, td
{
	border:1px dotted black;
	padding:5px;
}
body {
	background-color: #ffffff;
}
#controls
{   top: 100px;
	padding: 10px;
}
input {
	margin: 5px;
}
body
{
	font-family: Verdana, Geneva, sans-serif;
}
